.text-field{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.text-field-label{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}

.text-field-input {
	border: 2px solid var(--color-text-border);
    box-shadow: -1px 1px 0 var(--color-text-border);
	background-color: var(--color-background);
	padding: 0.5rem 1rem;
    flex: 1;
}

.text-field-input:focus-visible {
	outline: none;
	border: 2px solid var(--color-primary);
	box-shadow: -1px 1px 0 var(--color-primary);
}
