.text-field{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
}

.text-field-label{
    font-weight: 900;
    font-size: var(--font-size-sm);
}

.text-field-input {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
	border: 2px solid var(--color-text-border);
    box-shadow: -2px 2px 0 var(--color-text-border);
	background-color: var(--color-background);
	padding: 0.5rem 0.3rem;
    width: 100%;
    box-sizing: border-box;
}

.text-field-input:focus-visible {
	outline: none;
	border: 2px solid var(--color-primary-hover);
	box-shadow: -2px 2px 0 var(--color-primary);
}

.text-field-error {
    color: var(--color-destructive);
    font-weight: 400;
    font-size: var(--font-size-xs);
}

.text-field-error.placeholder {
    visibility: hidden;
}