.login-form{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.login-form-fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-form-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.login-button,
.google-login-button{
    flex:1;
}

.login-form-buttons h4 {
    align-self: center;
    margin: 0;
}