.login-form{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.login-form-fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-form-fields {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 8px;
}