.single-field-form {
	display: flex;
	align-items: flex-start; 
	gap: 0.5rem;
    font-family: "Roboto", sans-serif;
}

.single-field-form .text-field-input,
.single-field-form-button {
    box-sizing: border-box;
    height: 2.5rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.button-container-label-spacer {
    visibility: hidden;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 480px) {
    .single-field-form {
        flex-direction: column;
        align-items: stretch;
        gap:0px;
        margin-bottom: 0.5rem;
    }

    .single-field-form-button {
        width: 100%;
    }
}