.dashboard-page{
    border: 3px solid var(--color-text-border);
    box-shadow: -3px 3px 0 var(--color-text-border);
    display: flex; 
    flex-direction: column;
    box-sizing: border-box;
    width: min(45rem, calc(100vw - 2rem));
    height: 80%;
}

.app-container {
    overflow-y: auto;
    padding: 1rem;
    margin: 0.15rem;
}

.app-container::-webkit-scrollbar {
    width: 5px;
}

.app-container::-webkit-scrollbar-track {
    background: transparent;
}

.app-container::-webkit-scrollbar-thumb {
    background: var(--color-text-border);
}

.app-container::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-border);
}
