@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

:root{
    --color-primary: #4785FF;
    --color-primary-hover: #85ADFF;
    --color-text-border: #1B2323;
    --color-background:#EBEAE7;
    --color-destructive: #FF220C;
    --font-size-xs: 0.75rem;  
    --font-size-sm: 0.875rem;  
    --font-size-base: 1rem;    
    --font-size-lg: 1.25rem;    
    --font-size-xl: 1.5rem;     
    --font-size-2xl: 2rem;     
    --font-size-3xl: 2.5rem;    
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-border);
    display: flex;
}