.header {
	display: flex;	
    flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
}

.header-title {
    font-family: "Ubuntu", sans-serif;
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 900;
}

.habits-completed {
    font-family: "Roboto", sans-serif;
	font-size: 0.875rem;
	line-height: 1.25rem;
}