.header {
	display: flex;	
    flex-direction: row;
	align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 3px solid var(--color-text-border);
    width: 100%;
    background-color: var(--color-primary);
    padding: 0.4rem; 
}

.header-title-container {
    display:flex;
    flex:1;
    align-items: center;
    justify-content: start;
	font-size: var(--font-size-2xl);
	font-weight: 900;
}

.habits-completed-container {
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
	font-size: var(--font-size-sm);
    font-weight: 500;
}

.logout-button-container {
    display:flex;
    flex:1;
    align-items: center;
    justify-content: end;
}